{:paths ["src" "test"]
 :tasks {:requires ([dreams.main :as dr]
                    [dreams.test-runner :as tr]
                    [babashka.process :as sh])
         ;; fmt needs https://github.com/candid82/cljf:
         fmt (do (sh/shell "cljf src")
                 (sh/shell "cljf test")
                 (sh/shell "cljf bb.edn"))
         ;; Utilities / testing:
         words (println (dr/dreamwords-str))
         random (println (dr/random-dream-str))
         test (tr/run-tests)
         ;; Main event:
         epub (dr/epub)}}
