{:paths ["src" "test"]
 :tasks {:requires ([dreambook.main :as dr]
                    [dreambook.test-runner :as tr]
                    [babashka.process :as sh])
         ;; fmt needs https://github.com/candid82/cljf:
         fmt (do (sh/shell "cljf dreambook")
                 (sh/shell "cljf src")
                 (sh/shell "cljf test")
                 (sh/shell "cljf bb.edn"))
         ;; Utilities / testing:
         test (tr/run-tests)
         ;; Move to -main:
         words (println (dr/dreamwords-str))
         random (println (dr/random-dream-str))
         ;;         epub (dr/epub)
         }}
